:root {
    --primary-color: #08A6E4;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F7F7F7;
    --primary-font-color: #000000;
    --secondary-font-color: #A5A5A5;
    --redish-color: #FB3B64;
    --green-color: #55DFB4;
    --raleway-font: "Raleway", sans-serif;
    --open-sans-font: "Open Sans", sans-serif;
    --button-radius: 35px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    width: 100vw;
    height: 70px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 3px 6px #00000029;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    font-family: var(--raleway-font);
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    line-height: 37px;
    color: var(--primary-color);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__link {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 0.6875rem;
    text-align: center;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 3.28px;
    text-decoration: none;
    color: var(--secondary-font-color);
    padding: 28px 10px 23px;
    margin: 37px;
}

.header__nav__link:hover {
    color: var(--primary-font-color);
    border-bottom: 4px solid var(--primary-color);
    box-sizing: content-box;
}

.opening {
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: 400;

}

.opening__heading {
    font-family: var(--raleway-font);
    font-size: 3.6875rem;
    text-align: center;
    line-height: 3.5625rem;
    padding: 120px 0 20px;
    font-weight: 400;
}

.opening__description {
    font-family: var(--open-sans-font);
    font-size: 1rem;
    text-align: center;
    line-height: 1.375rem;
    padding-bottom: 38px;
}

.opening__cta__btn {
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.375rem;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    padding: 22px 157px;
}

.opening__bg__image {
    align-self: center;
    width: 100%
}

.statistics__heading {
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    font-family: var(--raleway-font);
    padding: 100px 0;
}

.statistics__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 100px 120px 100px;
}

.statistics__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.circle {
    height: 62.71px;
    width: 62.71px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 14px;
}

.red {
    background-color: var(--redish-color);
}
.blue {
    background-color: var(--primary-color);
}
.green {
    background-color: var(--green-color);
}

div.red::after {
    content: url("../Assets/Person.svg");
    height: 52px;
    width: 44px;
    position: relative;
    left: 20px;
    top: 4px;
}

div.blue::after {
    content: url("../Assets/Eye.svg");
    height: 52px;
    width: 44px;
    position: relative;
    left: 20px;
    top: 15px;
}

div.green::after {
    content: url("../Assets/Catalog.svg");
    height: 52px;
    width: 44px;
    position: relative;
    left: 25px;
    top: 5px;
}

.statistics__number {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 5.96px;
    font-family: var(--raleway-font);
    font-weight: 800;
    padding-bottom: 19.11px;
}

.statistics__description {
    font-size: 1.0625rem;
    font-family: var(--open-sans-font);
    line-height: 1.25rem;
    text-align: center;
    font-weight: 400;
    color: var(--secondary-font-color);
}

.benefits {
    background-color: var(--secondary-bg-color);
    padding: 100px 0;
}

.benefits__container {
    padding: 0 100px;
}

.single__benefit {
    background-color: var(--primary-bg-color);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    align-items: flex-end;
    border-radius: 5px;
}

.benefit__text {
    margin: 91px 35px;
    max-width: 415px;
}

.benefit__text::after {
    content: "";
    width: 327px;
    height: 3px;
    display: block;
    background-color: var(--accent-color);
    margin-top: 50px;

}

.benefit__heading {
    font-family: var(--raleway-font);
    font-size: 2.25rem;
    line-height: 2.625rem;
    font-weight: 400;
    padding-bottom: 30px;
}

.benefit__description {
    font-family: var(--open-sans-font);
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.benefit__image {
    position: relative;
}

.benefit__image img {
    position: relative;
    z-index: 2;
}

.single__benefit--macbook {
    --accent-color: var(--redish-color);
}

.single__benefit--macbook .benefit__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.single__benefit--macbook .benefit__image::before {
    content: "";
    height: 180px;
    width: 180px;
    background-color: var(--accent-color);
    border-radius: 41px;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    top: -40px;
    right: 0;
}

.single__benefit--macbook .benefit__image img {
    width: 386px;
    height: auto;
}

.single__benefit--iphone {
    --accent-color: var(--primary-color);
    padding: 0 20px 0 70px;
    flex-direction: row-reverse;
}

.single__benefit--iphone .benefit__image::before {
    content: "";
    height: 320px;
    width: 320px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}

.single__benefit--iphone .benefit__image img {
    width: 426px;
    height: auto;
}

.single__benefit--iphone .benefit_text {
    margin: 70px 0;
}

.double__benefit > div {
    margin-bottom: 0;
}

.double__benefit {
    display: flex;
    --accent-color: var(--green-color);
}

.double__benefit--text {
    max-width: 620px;
}

.double__benefit--text .benefit__text {
    max-width: none;
    margin: 70px 35px;
}

.double__benefit--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.double__benefit--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.pricing {
    background-color: var(--primary-bg-color);
    margin: 100px 0 150px 0;
}

.pricing__header {
    font-family: var(--raleway-font);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-align: center;
    margin-bottom: 50px;
}

.pricing__content {
    display: flex;
    justify-content: space-between;
}

.pricing__box {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--pricing-accent);
    border-radius: 18px;
}

.box__heading {
    font-family: var(--raleway-font);
    font-weight: 700;
    font-size: 1.25rem;
    padding: 34px 160px 14px 160px;
}

.box__price {
    font-family: var(--open-sans-font);
    font-weight: 300;
    font-size: 2.875rem;
    padding-bottom: 5px;
    line-height: 2;
    color: var(--pricing-accent);
}

.box__limited {
    font-size: 0.75rem;
    font-family: var(--raleway-font);
    font-weight: 700;
}

.box__list {
    margin: 60px 0 0 0;
}

.box__list__element {
    padding-bottom: 20px;
    font-family: var(--open-sans-font);
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
}

.box__list__element::before {
    content: "";
    height: 11px;
    width: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../Assets/Checkmark-1.svg");
}

.box__list__element--not::before {
    background-image: url("../Assets/CLose.svg");
}

.box__btn {
    font-family: var(--open-sans-font);
    font-weight: 700;
    font-size: 0.8125rem;
    background-color: var(--pricing-accent);
    color: var(--primary-bg-color);
    text-decoration: none;
    padding: 16px 67px;
    border-radius: 23px;
    position: relative;
    bottom: -25px;
}

.pricing__box--basic {
    --pricing-accent: var(--redish-color);
    margin: 20px 0;
}

.pricing__box--professional {
    width: 400px;
    --pricing-accent: var(--primary-color);
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing__box--professional .box__list__element {
    padding-bottom: 26px;
}

.pricing__box--premium {
    --pricing-accent: var(--green-color);
    margin: 20px 0;
}
